<p id="notice"><%= notice %></p>
<div class="ui container">
  <div class="ui large header">
    <% if @parent_name == 'Course' %>
      <%= link_to @parent.title, course_path(@parent) %> >
    <% else %>
      나의
    <% end %>
    이슈 목록
  </div>
  <div class="ui divider"></div>

  <div class="ui floating dropdown labeld basic icon button">
    <i class="filter icon"></i>
    <span class="text"><%= @label %></span>
    <div class="menu">
      <div class="ui icon search input">
        <i class="search icon"></i>
        <input type="text" placeholder="Search tags...">
      </div>
      <div class="divider"></div>
      <div class="header">
        <i class="tags icon"></i>
        Tag Label
      </div>
      <div class="scrolling menu">
        <a class="item", href="<%= @index_path %>">All</a>
        <% Issuetag.all.each do |it| %>
          <% if it.name.eql? @label %>
            <a class="item", href="<%= @label_path + "/" + it.name %>"><%= it.name %></a>
          <% else %>
            <a class="item", href="<%= @label_path + "/" + it.name %>"><%= it.name %></a>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <%= link_to @new_path do %>
    <div class="ui floating basic button">이슈 등록</div>
  <% end %>

  <table class="ui selectable striped table">
    <tbody>
      <% @issues_page.each do |issue| %>
        <% if @parent_name == "Course" %>
          <% issue_path = course_issue_path(@parent.id, issue.parent_issue_id) %>
        <% elsif @parent_name == "User" %>
          <% issue_path = profile_issue_path(issue.parent_issue_id) %>
        <% end %>
        <tr>
          <td><div class="ui star rating" data-max-rating="1"></div></td>
          <td>
            <%= link_to issue.title, issue_path %>
            <% unless issue.due.nil? %>(~ <%= prettify_date(issue.due) %>)<% end %>
            <b>[<%= issue.comments.size %>]</b>
          </td>
          <td>
          <% issue.issuetags.each do |it| %>
            <div class="ui circular mini teal label"><%= it.name %></div>
          <% end %>
          </td>
          <td class="right aligned callapsing">
            등록된 시간: <%= prettify_date(issue.created_at) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="ui grid">
    <div class="six wide column"></div>
    <div class="four wide column">
      <div class="text container"><%= will_paginate @issues_page %></div>
    </div>
    <div class="six wide column"></div>
  </div>
</div>

<script>
  $(".dropdown").dropdown();
  $(".ui.rating").rating();
</script>
