<div class="ui container">
  <% unless notice == nil %>
    <div class="ui segment", id="notice"><%= notice %></div>
  <% end %>

  <div class="ui grid">
    <div class="eight wide column">
      <div id="issue_title">
        <h2 class="ui big header">
          <span class="ui big label">#<%= @issue.parent_issue_id %></span>
          <div class="content" id="issue_title_text"><%= @issue.title %></div>
        </h2>
      </div>

      <div class="ui labeled action big input" id="issue_title_input">
        <div class="ui label">#<%= @issue.parent_issue_id %></div>
        <input type="string" placeholder="<%= @issue.title %>" id="issue_title_string">
        <div class="ui button title_save_button" id="<%= @issue_path %>">저장</div>
      </div>
    </div>

    <div class="eight wide column">
      <div id="issue_due_div">
        <p id="issue_due">
          <% unless @issue.due.nil? %>
            <%= '기한: ' + prettify_date(@issue.due) %>
          <% end %>
        </p>

        <div class="ui input" id="due_input">
          <input id="datetimepicker" type="text">
          <div class="ui button due_save" id="<%= @issue_path %>">저장</div>
          <div class="ui button due_cancle">취소</div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="ui grid">
    <div class="two column row">
      <div class="left floated column">
        <div id="tags_div">
          <% @issue.issuetags.each do |it| %>
            <a class="ui circular teal label", href="<%= @label_path + "/" + it.name %>"><%= it.name %></a>
          <% end %>
        </div>
      </div>
      <div class="column">
        <div class="ui basic button" id="issue_edit_button">
          <i class="icon edit"></i>제목
        </div>
        <div class="ui basic button" id="due_edit_button">
          <i class="icon edit"></i>기한
        </div>
        <% if @parent_name == "Course" %>
          <%= link_to subscribe_course_issue_path(@parent.id, @issue.parent_issue_id) do %>
            <button class="ui basic button">
              <i class="icon twitter"></i>
              <%= @subscribe_button_text %>
            </button>
          <% end %>
        <% elsif @parent_name == "User" %>
          <%= link_to subscribe_profile_issue_path(@issue.parent_issue_id) do %>
            <button class="ui basic button">
              <i class="icon twitter"></i>
              <%= @subscribe_button_text %>
            </button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="ui divider"></div>
  <div class="ui comments">
    <% @comments.each_with_index do |comment, index| %>
      <% if @parent_name == "Course" %>
        <% @comment_path = course_issue_comment_path(@parent.id, @issue.parent_issue_id, comment.id) %>
      <% elsif %>
        <% @comment_path = profile_issue_comment_path(@issue.parent_issue_id, comment.id) %>
      <% end %>
      <div class="comment" id="comment_<%= index %>">
        <div class="content">
          <a class="author">
            <% if comment.commenter.match(/d+/).nil? %>
              <% user = User.find_by_id(comment.commenter) %>
              <% unless user.nil? %><%= user.name %><% end %>
            <% end %>
          </a>
          <div class="text" id="comment_text_<%= index %>">
            <% unless comment.contents.nil? %>
              <% text = render_issue_link(comment.contents) %>
              <% text = render_easy_link(text) %>
              <% text = render_latex_math(text) %>
              <% text = text.gsub(/\\\$/) do '$' end %>
              <% text = escape_script_tag(text) %>
              <%= render_markdown(text) %>
            <% end %>
          </div>
          <div class="actions">
            <a class="edit_button" id="comment_edit_button_<%= index %>#<%= @comment_path %>" do>수정</a>
            <a class="comment_destroy_button">
              <% if @parent_name == "Course" %>
                <%= link_to '삭제', course_issue_comment_path(@parent.id, @issue.parent_issue_id, comment.id, :commenter => comment.commenter), method: :delete, data: {confirm: 'Are you sure?' } %>
              <% elsif @parent_name == "User" %>
                <%= link_to '삭제', profile_issue_comment_path(@issue.parent_issue_id, comment.id, :commenter => comment.commenter), method: :delete, data: {confirm: 'Are you sure?' } %>
              <% end %>
            </a>
          </div>
        </div>
      </div>
      <div class="ui form comment_edit" id="comment_edit_<%= index %>">
        <div class="field">
          <textarea id="edit_text_<%= index %>"></textarea>
        </div>
        <div class="ui positive button edit_save_button" id="edit_save_<%= index %>#<%= @comment_path %>">저장</div>
        <div class="ui button edit_cancle_button" id="edit_cancle_<%= index %>">취소</div>
      </div>
      <div class="ui divider"></div>
    <% end %>
  </div>

  <%= form_for([@issue, @issue.comments.create], url: @comments_path) do |f| %>
    <div class="ui form">
      <div class="field">
        <%= f.hidden_field :commenter, value: current_user.id %>
      </div>
      <div class="field">
        <%= f.text_area :contents, required: true, rows: 10, cols: 20 %>
      </div>
      <div class="actions inline_submit_button">
        <%= f.submit '제출', class: 'ui positive submit button' %>
      </div>
      <%= link_to @index_path do %>
        <div class="ui button">목록</div>
      <% end %>
    </div>
  <% end %>
</div>

<script>
  $(document).on('ready page:load', documentLoad());
  $("#issue_edit_button").click(issueTitleEdit);
  $("#issue_title_cancle_button").click(issueTitleCancle);
  $(".title_save_button").click(issueTitleSave);
  $(".edit_button").click(commentEdit);
  $(".edit_save_button").click(commentSave);
  $(".edit_cancle_button").click(commentCancle);
  jQuery('#datetimepicker').datetimepicker({defaultTime:'00:00'});
  $("#due_edit_button").click(dueEdit);
  $(".due_cancle").click(dueEditCancle);
  $(".due_save").click(dueSave);
</script>
