<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @issue.title %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @issue.contents %>
</p>

<%= link_to 'Edit', @edit_path %> |
<%= link_to 'Back', @index_path %>
