<p id="notice"><%= notice %></p>
<div class="ui container">
  <% if @parent_name == "Course" %>
    <% @issue_path = course_issue_path(@parent.id, @issue.parent_issue_id) %>
  <% end %>
  <div id="issue_title">
    <div class="ui huge label">
      #<%= @issue.parent_issue_id %>
    </div>
    <div class="ui huge header" id="issue_title_text">
      <%= @issue.title %>
    </div>
  </div>
<<<<<<< HEAD
  <%= link_to subscribe_course_issue_path(@parent.id, @issue.parent_issue_id) do %>
    <button class="ui button" ><%= @subscribe_button_text %></button>
  <% end %>
=======
  <div class="ui labeled action huge input" id="issue_title_input">
    <div class="ui label">
      #<%= @issue.parent_issue_id %>
    </div>
    <input type="string" placeholder="<%= @issue.title %>" id="issue_title_string">
    <div class="ui button" id="issue_title_save_button">저장</div>
    <div class="ui button" id="issue_title_cancle_button">취소</div>
    <div class="ui header" id="issue_path_var"><%= @issue_path %>/update_title</div>
  </div>

>>>>>>> Issue title edition
  <div class="ui divider"></div>
  <div class="ui button" id="issue_edit_button">제목 수정</div>
  <%= link_to @issue_path, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' } do %>
    <div class="ui button" id="issue_delete_button">이슈 삭제</div>
  <% end %>

  <div class="ui divider" id="edit_divider"></div>
  <% @comments.each do |comment| %>
    <p><%= comment.commenter + ' commented' %></p>
	<% unless comment.contents.nil? %>
	  <% text = render_issue_link(comment.contents) %>
	  <% text = render_easy_link(text) %>
	  <% text = render_latex_math(text) %>
	  <% text = text.gsub(/\\\$/) do '$' end %>
	  <%= render_markdown(text) %>
	<% end %>
	<% if @parent_name == "Course" %>
      <% @comment_path = course_issue_comment_path(@parent.id, @issue.parent_issue_id, comment.id) %>
    <% end %>
  
	<div class="ui button" id="comment_edit_button" do>수정</div>

    <div class="ui button">
      <%= link_to '삭제', @comment_path, method: :delete, data: {confirm: 'Are you sure?' } %>
    </div>

    <div class="ui divider"></div>
  <% end %>

  <%= form_for([@issue, @issue.comments.create], url: @comments_path) do |f| %>
    <div class="ui form">
      <div class="field">
        <%= f.label :commenter %><br />
        <%= f.text_field :commenter, required: true %>
      </div>
      <div class="field">
        <%= f.label :comments %><br />
        <%= f.text_area :contents, required: true %>
      </div>
      <div class="actions">
        <%= f.submit '작성하기', class: 'ui submit button' %>
      </div>
    </div>
  <% end %>


  <div class="ui divider"></div>
  <div class="ui button"><%= link_to '돌아가기', @index_path %></div>
</div>
