<div class="ui two column grid container">
  <div class="column">
    <div class="ui huge header"><%= @page.title %></div>
  </div>
  <div class="column">
    <p>최근 수정 시각: <%= @page.updated_at %></p>
  </div>
</div>

<div class="ui container">
  <div class="ui divider"></div>

  <div class="ui segment">
    <div id="edit_panel">
      <%= form_for @page, url: wiki_page_path(@page.title) do |f| %>
        <div class="inline fields">
          <div class="field"></div>
        </div>

        <div class="ui form">
          <div class="field">
            <%= f.text_area :contents, required: true, id: 'wiki_edit_contents' %>
          </div>

          <div class="actions">
            <%= f.submit '완료', class: 'ui positive submit button' %>
          </div>

          <div class="ui floated button" id="prev_render_btn">
            미리보기
          </div>
        </div>
      <% end %>
    </div>

    <div id="preview_panel">
      <div id="wiki_prev_contents"></div>
    </div>
  </div>

  <%= link_to wiki_page_path(@page.title) do %>
    <div class="ui button">돌아가기</div>
  <% end %>

</div>
