<div class="ui container">
  <div class="ui large header">Wiki:new</div>
  <div class="ui divider"></div>

  <div class="ui segment">
    <%= form_for @page, url: wiki_path do |f| %>

      <div class="ui form">
        <div class="field">
          <%= f.label :title %>
          <%= f.text_field :title, required: true %>
        </div>

        <div class="field">
          <%= f.label :contents %>
          <%= f.text_area :contents, required: true %>
        </div>

        <div class="actions">
          <%= f.submit class: 'ui submit button' %>
        </div>
      </div>

    <% end %>
  </div>

  <div class="ui divider"></div>
  <div class="ui button"><%= link_to 'Back', wiki_path %></div>
</div>
