<div class="ui container">
  <div class="ui large header"><%= @title %></div>
  <% unless @from.nil? %>
    <div class="ui positive message">
      <p><%= @from %>"에서 넘어옴</p>
    </div>
  <% end %>
  <div class="ui divider"></div>

  <div class="ui text container">
    <% unless @page.contents.nil? %>
      <% text = @page.contents.gsub(@regex[:link]) do %>
        <% '[' + $1 + '](' + wiki_page_path($1) + ')' %>
      <% end %>
      <p><%= markdown text %></p>
    <% end %>
  </div>

  <div class="ui divider"></div>
  <div class="ui button"><%= link_to '수정', edit_wiki_page_path(@title) %></div>
  <div class="ui button"><%= link_to '삭제', wiki_page_path(@title), method: :delete, data: { confirm: '정말로 삭제하시겠습니까?' } %></div>
  <div class="ui button"><%= link_to '돌아가기', wiki_path %></div>
</div>
