<div class="ui two column grid container">
  <div class="column">
    <div class="ui huge header"><%= @title %></div>
  </div>
  <div class="column">
    <p>최근 수정 시각: <%= @page.updated_at %></p>
  </div>
</div>

<div class="ui container">
  <% unless @from.nil? %> <!-- redirect -->
    <p>
      <br>
      <i class="circular inverted teal linkify icon"></i>
      <%= link_to @from, wiki_page_path(@from) %>에서 넘어옴
    </p>
  <% end %>

  <div class="ui divider"></div>

  <%= render partial: 'render_page', locals: {data: @page.contents} %>

  <div class="ui divider"></div>
  <%= link_to edit_wiki_page_path(@title) do %>
    <div class="ui button">수정하기</div>
  <% end %>
  <%= link_to wiki_page_path(@title), method: :delete, data: { confirm: '정말로 삭제하시겠습니까?' } do %>
    <div class="ui button">삭제하기</div>
  <% end %>
</div>
