<%= form_for(@course, html: {class: "ui form"}) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :course_num %><br>
    <%= f.text_field :course_num %>
  </div>
  <div class="field">
    <%= f.label :professor %><br>
    <div class="ui search selection dropdown" id="dropdown">
      <input type="hidden" name="professor" />
      <i class="search icon"></i>
      <div class="default text">검색</div>
      <div class="menu" id="dropdown-menu">
        <div class="item">blabla</div>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: "ui button" %>
  </div>

  <%= link_to "취소", @course, class: "ui button" %>
<% end %>

<script>
  $.fn.api.settings.api = {
    'get professors' : '<%= find_professor_path %>/?name={query}'
  };
  $("#dropdown").dropdown({
    apiSettings: {
      action: 'get professors',
    },
    fields: {
      results: 'results',
      name: 'name'
    }
  });
  //initProfessorFinder("#dropdown", "#dropdown-menu", "<%= find_professor_path %>");
</script>
