<%= form_for(@course, html: {class: "ui form"}) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :course_num %><br>
    <%= f.text_field :course_num %>
  </div>
  <div class="field">
    <%= f.label :professor %><br>
    <div class="ui icon input">
      <input type="text" placeholder="검색" id="search-box" autocomplete="off"/>
      <i class="search icon"></i>
    </div>
    <div id="popup-container" class="ui fluid popup"></div>
  </div>
  <div class="actions">
    <%= f.submit class: "ui button" %>
  </div>

  <%= link_to "취소", @course, class: "ui button" %>
<% end %>

<script>
  initProfessorFinder("#search-box", "#popup-container", "<%= find_professor_path %>");
</script>
