<p id="notice"><%= notice %></p>
<div class="ui container">
  <div class="ui huge header">강좌 목록</div>
  <div class="ui divider"></div>

  <table class="ui table">
    <thead>
      <tr>
        <!-- <th>University</th> -->
        <!-- <th>Classification</th> -->
        <th>College&nbsp;</th>
        <th>Department&nbsp;</th>
        <!-- <th>Level</th> -->
        <!-- <th>Grade</th> -->
        <!-- <th>Course num</th> -->
        <!-- <th>Lecture num</th> -->
        <th>Title&nbsp;</th>
        <th>Credit&nbsp;</th>
        <th>Timetable&nbsp;</th>
        <th>Location</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @courses.each do |course| %>
        <tr>
          <!-- <td><%#= course.university %></td> -->
          <!-- <td><%#= course.classification %></td> -->
          <td><%= course.college %></td>
          <td><%= course.department %></td>
          <!-- <td><%#= course.level %></td> -->
          <!-- <td><%#= course.grade %></td> -->
          <!-- <td><%#= course.course_num %></td> -->
          <!-- <td><%#= course.lecture_num %></td> -->
          <td><%= course.title %></td>
          <td><%= course.credit %></td>
          <td><%= course.timetable %></td>
          <td><%= course.location %></td>
          <td><%= link_to 'Show', course %></td>
          <td><%= link_to 'Edit', edit_course_path(course) %></td>
          <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="ui divider"></div>
  <div class="ui button"><%= link_to '새 강좌', new_course_path %></div>
</div>
