<p id="notice"><%= notice %></p>

<p>
  <strong>University:</strong>
  <%= @course.university %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @course.classification %>
</p>

<p>
  <strong>College:</strong>
  <%= @course.college %>
</p>

<p>
  <strong>Department:</strong>
  <%= @course.department %>
</p>

<p>
  <strong>Level:</strong>
  <%= @course.level %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @course.grade %>
</p>

<p>
  <strong>Course num:</strong>
  <%= @course.course_num %>
</p>

<p>
  <strong>Lecture num:</strong>
  <%= @course.lecture_num %>
</p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @course.credit %>
</p>

<p>
  <strong>Timetable:</strong>
  <%= @course.timetable %>
</p>

<p>
  <strong>Location:</strong>
  <%= @course.location %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
