<p id="notice"><%= notice %></p>
<div class="ui container">
  <div class="ui huge header"><%= @course.title %></div>
  <div class="ui large header"><%= @course.course_num %></div>
  <div class="ui divider"></div>

  <div class="ui two wide column grid">
    <div class="column">
      <div class="ui segment">
        <% prof = Professor.find_by_id(@course.professor_id) %>
        <%= prof.name if not prof.nil? %>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <% prof = Professor.find_by_id(@course.professor_id) %>
        <%= prof.picture if not prof.nil? %>
      </div>
    </div>
  </div>

  <div class="ui divider"></div>
  <div class="ui button"><%= link_to '이슈', course_issues_path(@course.id) %></div>
  <div class="ui button"><%= link_to '수정하기', edit_course_path(@course) %></div>
  <div class="ui button"><%= link_to '돌아가기', courses_path %></div>
</div>
