<div class="ui container">
  <div class="ui grid">
    <% if @course.professor_id.nil? %>
    <div class="sixteen wide column">
    <% else %>
    <div class="thirteen wide column">
    <% end %>
      <div class="ui grid">
        <div class="thirteen wide column">
          <div class="ui huge header"><%= @course.title %></div>
          <div class="ui large header"><%= @course.course_num %></div>
        </div>
        <div class="three wide column">
          <%= link_to subscribe_course_path(@course.id) do %>
            <button class="ui button" ><%= @subscribe_button_text %></button>
          <% end %>
        </div>
      </div>

      <div class="ui divider"></div>

      <div class="ui clearing segment">
        <div id="description">
          <p><%= @course.description %></p>
          <div class="ui right floated icon button" id="description-edit-button"><i class="edit icon"></i></div>
        </div>
        <div hidden class="ui form" id="description-edit-form">
          <div class="field">
            <textarea ></textarea>
          </div>
          <div class="ui button" id="description-save-button">저장</div>
          <div class="ui button" id="description-cancel-button">취소</div>
        </div>
      </div>
    </div>
    
    <% unless @course.professor_id.nil? %>
      <div class="three wide column">
        <div class="ui fluid card">
          <div class="image">
            <% prof = Professor.find_by_id(@course.professor_id) %>
            <img src="<%= prof.picture if not prof.nil? %>" />
          </div>
          <div class="content">
            <% prof = Professor.find_by_id(@course.professor_id) %>
            <a class="header"><%= prof.name if not prof.nil? %></a>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="ui divider"></div>

  <%= link_to '이슈', course_issues_path(@course.id), class: "ui button" %>
  <%= link_to '위키', wiki_page_path(@course.title), class: "ui button" %>
  <%= link_to '반달', edit_course_path(@course), class: "ui button" %>

  <div class="ui divider"></div>

</div>

<script>
  var descriptionHandler = new DescriptionHandler('#description', '#description-edit-form', '<%= update_description_course_path %>');
  $("#description-edit-button").on('click', function() {
    descriptionHandler.showEditForm();
  });
  $("#description-save-button").on('click', function() {
    descriptionHandler.updateDescription();
  });
  $("#description-cancel-button").on('click', function() {
    descriptionHandler.closeEditForm();
  });
</script>
