<div class="ui container">
  <div class="ui grid">
    <% if @course.professor_id.nil? %>
    <div class="sixteen wide column">
    <% else %>
    <div class="thirteen wide column">
    <% end %>
      <div class="ui right floated olive button" id="subscribe-button" 
        data-subscribe="<%= @is_subscribing %>" ><%= @subscribe_button_text %></div>
      <div class="ui left floated">
        <h1 class="ui header">
          <%= @course.title %>
          <div class="ui sub header"><%= @course.course_num %></div>
        </h1>
      </div>

      <div class="ui divider"></div>

      <div class="ui relaxed list">
        <% @course.crawl_logs.all.each do |crawl_log| %>
          <div class="item" id="url-<%= crawl_log.id %>">
            <i class="linkify icon"></i> 
            <div class="content" >
              <a class="" href=<%= crawl_log.url %> >
                <% text = crawl_log.url
                if text.length > 40
                  text = text[0..38] + '...'
                end %>
                <%= text %>
              </a>
              <% if crawl_log.crawl %><i class="power icon"></i><% end %>
              <i class="write icon" onclick='swapVisibility("#url-<%= crawl_log.id %>", "#url-form-<%= crawl_log.id %>")'></i>
              <%= link_to course_crawl_log_path(@course, crawl_log), method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }, class: "ui red" do %>
                <i class="delete icon"></i>
              <% end %>
            </div>
          </div>
          <%= form_for(crawl_log, { url: course_crawl_log_path(@course, crawl_log), html: {hidden: true, class: "ui form", id: "url-form-#{crawl_log.id}"}} ) do |f| %>
            <div class="field">
              <%= f.text_field :url %>
            </div>
            <div class="field">
              <div class="ui toggle checkbox">
                <%= f.check_box :crawl %>
                <label>샤과봇 크롤링</label>
              </div>
            </div>
            <button class="ui submit button">저장</button>
          <% end %>
        <% end %>
      </div>
      <div class="ui icon labeled blue button" id="add-link-button">
        <i class="plus icon"></i>
        링크 추가하기
      </div>
      <%= form_for @crawl_log, {url: course_crawl_logs_path(@course), html: {hidden: true, class: "ui form", id: "add-link-form"}} do |f| %>
        <div class="actions field ui fluid action input" >
          <%= f.text_field :url %>
          <button class="ui icon labeled blue button" type="submit">
            <i class="plus icon"></i>
            링크 추가하기
          </button>
        </div>
      <% end %>
      
      <div class="ui divider"></div>

      <div class="ui clearing segment">
        <div id="description">
          <p>
            <% if @course.description.nil? or @course.description.length == 0 %>
              강의 설명을 작성해주세요.
            <% else %>
              <%= @course.description %>
            <% end %>
          </p>
          <div class="ui right floated icon button" id="description-edit-button"><i class="edit icon"></i></div>
        </div>
        <%= form_for @course, {url: update_description_course_path, html: {hidden: true, class: "ui form", id:"description-edit-form"}} do |f| %>
          <div class="field">
            <%= f.text_area :description, placeholder: "강의 설명을 작성해주세요." %>
          </div>
          <%= f.submit '저장', class: "ui button", id: "description-save-button" %>
          <div class="ui button" id="description-cancel-button">취소</div>
        <% end %>
      </div>
    </div>

    <% unless @course.professor_id.nil? %>
      <div class="three wide column">
        <div class="ui fluid card">
          <div class="image">
            <% prof = Professor.find_by_id(@course.professor_id) %>
            <img src="<%= prof.picture if not prof.nil? %>" />
          </div>
          <div class="content">
            <% prof = Professor.find_by_id(@course.professor_id) %>
            <a class="header"><%= prof.name if not prof.nil? %></a>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="ui divider"></div>

  <%= link_to '이슈', course_issues_path(@course.id), class: "ui button" %>
  <%= link_to '위키', wiki_page_path(@course.course_wiki_page), class: "ui button" %>
  <%= link_to '반달', edit_course_path(@course), class: "ui button" %>

</div>

<script>
  var descriptionHandler = new DescriptionHandler('#description', '#description-edit-form', '');
  $("#description-edit-button").on('click', function() {
    descriptionHandler.showEditForm();
  });
  $("#description-cancel-button").on('click', function() {
    descriptionHandler.closeEditForm();
  });

  $("#subscribe-button").on('click', function() {
    var subscribe = !($(this).attr('subscribe') == "true")
    $.get({
      url: '<%= subscribe_course_path %>',
      data: { subscribe : subscribe },
      success: (data) => {
        data = JSON.parse(data);
        text = data.subscribe ? '드랍!' : '수강';
        $(this).text(text);
        $(this).attr('subscribe', data.subscribe)
      }
    });
  });

  $("#add-link-button").on('click', function() {
    swapVisibility('#add-link-button', '#add-link-form');
  });

  $('.ui.checkbox').checkbox();
</script>
